@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* Number of lines to clamp */
}